# 4장 변수와 자료형

## 4.1 변수

**[4장: 42페이지]**

In [6]:
12340 * 1/2  # 실수 연산을 하면 실수 값을 출력

6170.0

In [7]:
12340 * 1/4

3085.0

In [8]:
12340 * 1/5

2468.0

**[4장: 43페이지]**

In [10]:
abc = 12340   # abc변수에 정수를 할당
print(abc)    # 출력

12340

**[4장: 44페이지]**

In [11]:
abc

12340

**[4장: 44페이지]**

In [12]:
print(abc * 1/2)  # 변수에 할당된 정수를 실수로 계산
print(abc * 1/4)
print(abc * 1/5)
print(abc * 5)    # 변수에 할당된 정수를 정수로 계산

6170.0
3085.0
2468.0
61700

## 4.2 문자열

### 문자열 만들기

**[4장: 45 ~ 46페이지]**

In [13]:
print("String Test")

String Test

In [15]:
print('String Test')  # ""와 ''모두 가능하지만 효율성을 위해 ''사용하자

String Test

**[4장: 46페이지]**

In [16]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

**[4장: 46페이지]**

In [17]:
type(string1)  # 변수의 타입 확인

str

In [18]:
type(string2)

str

**[4장: 46페이지]**

In [19]:
string3 = 'This is a "double" quotation test'  # 문자열 안에 ""을 포함할 땐 ''사용
string4 = "This is a 'single' quotation test"  # 문자열 안에 ''을 포함할 땐 ""사용
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

**[4장: 47페이지]**

In [21]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.''' 

long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.""" 

print(long_string1)
print(long_string2)  #삼중따옴표로 문자열을 할당한 변수 출력

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

### 문자열 다루기

**[4장: 48페이지]**

In [24]:
a = 'Enjoy'
b = 'python!'
c = a + b     
print(c)      # 문자열의 합을 출력 (공백 없음)
print(a, b)   # 두개의 문자열 출력 (공백 있음)

Enjoypython!
Enjoy python!

In [26]:
print(a * 3)  # 문자열의 곱 (공백없음)

EnjoyEnjoyEnjoy

## 4.3 리스트

### 리스트 만들기

**[4장: 49페이지]**

In [27]:
# 1번 학생의 국어, 영어, 수학, 과학 점수
student1 = [90,95,85,80]   # 리스트 생성
student1

[90, 95, 85, 80]

**[4장: 49페이지]**

In [28]:
type(student1)  # 변수의 타입 확인

list

**[4장: 50페이지]**

In [29]:
student1[0]   # 리스트의 0번 원소 출력

90

In [30]:
student1[1]   # 리스트의 1번 원소 출력

95

In [31]:
student1[-1]  # 리스트의 끝에서 첫번째 원소 출력

80

**[4장: 50페이지]**

In [32]:
student1[1] = 100   # 두 번째 항목에 새로운 데이터 할당하여 변경
student1

[90, 100, 85, 80]

**[4장: 50페이지]**

In [33]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']  # 문자열 리스트 생성
myFriends

['James', 'Robert', 'Lisa', 'Mary']

**[4장: 50 ~ 51페이지]**

In [35]:
myFriends[2]   # 2번 원소 출력

'Lisa'

In [36]:
myFriends[3]  # 3번 요소 출력

'Mary'

In [37]:
myFriends[-1]  # 끝에서 첫번째 요소 출력

'Mary'

**[4장: 51페이지]**

In [38]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends]  # 각기 다른 타입의 원소가 담긴 리스트 생성 
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

### 리스트 다루기

#### 리스트 더하기와 곱하기

**[4장: 51페이지]**

In [39]:
list_con1= [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2   # 리스트 연결하여 새로운 리스트 생성

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

**[4장: 51 ~ 52페이지]**

In [40]:
list_con1= [1,2,3,4]
list_con = list_con1 * 3   # 리스트의 곱으로 새로운 리스트 생성

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### 리스트 중 일부 항목 가져오기

**[4장: 52페이지]**

In [42]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list_data)
print(list_data[0:3])   # 리스트 슬라이싱
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])  # 처음부터 끝까지 2간격으로 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

####  리스트에서 항목 삭제하기

**[4장: 53페이지]**

In [43]:
print(list_data)
del list_data[6]  # 6번 데이터 삭제
print(list_data)  # 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

#### 리스트에서 항목의 존재 여부 확인하기

**[4장: 53페이지]**

In [44]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)  # '5'가 리스트에 있는지 확인
print(6 in list_data1)  # '6'이 리스트에 있는지 확인

True
False

#### 리스트 메서드 활용하기
- 리스트명.append('원소') 원소를 리스트의 끝에 추가
- 리스트명.insert(인덱스번호, '원소') 해당 위치에 원소를 추가
- 리스트명.extend([리스트]) 리스트의 끝에 리스트를 추가
- 리스트명.index('원소') 원소의 인덱스번호 출력
- 리스트명.count('원소') 원소의 개수 출력

**[4장: 54페이지]**

In [45]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')   # 리스트명.append()로 원소 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

**[4장: 55페이지]**

In [46]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

myFriends.insert(1,'Paul')  # 1번 위치에 'Paul' 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

**[4장: 55페이지]**

In [47]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

myFriends.extend(['Laura', 'Betty'])  # 리스트의 끝에 리스트를 추가
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [48]:
myFriends.index('James')  # 'James'원소의 인덱스번호 출력

0

In [49]:
myFriends.count('James')  # 'James'원소의 개수 출력

1

## 4.4 튜플

### 튜플 만들기

**[4장: 56페이지]**

In [50]:
tuple1 = (1,2,3,4)  # 튜플 생성
tuple1

(1, 2, 3, 4)

**[4장: 56페이지]**

In [51]:
type(tuple1)  # 타입 확인

tuple

**[4장: 56페이지]**

In [52]:
tuple1[1]   # 튜플의 1번 원소 출력 
            # 리스트와 같은 방식으로 출력, ()아닌 []에 인덱스번호 입력

2

**[4장: 56 ~ 57페이지]**

In [53]:
tuple2 = 5,6,7,8   # 괄호 없이 써도 튜플로 생성됨
print(tuple2)

(5, 6, 7, 8)

In [54]:
type(tuple2)

tuple

**[4장: 57페이지]**

In [55]:
tuple3 = (9,) # 반드시 쉼표(',') 입력 (튜플에 하나의 원소만 저장할 경우)
tuple4 = 10,  # 반드시 쉼표(',') 입력

print(tuple3)
print(tuple4)

(9,)
(10,)

### 튜플 다루기

**[4장: 57페이지]**

In [56]:
tuple5 = (1,2,3,4)
tuple5[1] = 5   # 튜플의 원소 변경불가 (리스트와의 차이점)

TypeError: 'tuple' object does not support item assignment

In [57]:
del tuple5[1]  # 튜플의 원소 삭제불가

TypeError: 'tuple' object doesn't support item deletion

**[4장: 58페이지]**

In [58]:
tuple5.extend((5,6,7))  # 튜플 확장 불가

AttributeError: 'tuple' object has no attribute 'extend'

In [59]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')

tuple6.index('c')  # 해당 튜플에서'c'원소의 인덱스번호 출력

2

**[4장: 58페이지]**

In [61]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')

tuple7.count('a')  # 해당 튜플에서 'a'원소의 개수 출력

3

## 4.5 세트

### 세트 만들기

**[4장: 59페이지]**

In [62]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)   # 세트는 중복값 허용하지 않음

{1, 2, 3}
{1, 2, 3}

**[4장: 59페이지]**

In [63]:
print(type(set1))
print(type(set1a))

<class 'set'>
<class 'set'>

### 세트의 교집합, 합집합, 차집합 구하기

**[4장: 60페이지]**
- 세트명.intersection(세트명) 세트 간의 교집합 출력 -> 세트명 & 세트명
- 세트명.difference(세트명) 세트 간의 차집합 출력   -> 세트명 - 세트명
- 세트명.union(세트명) 세트 간의 합집합 출력        -> 세트명 | 세트명

In [64]:
A = {1, 2, 3, 4, 5}         # Set A
B = {4, 5, 6, 7, 8, 9, 10}  # Set B

A.intersection(B)  # 집합 A에 대한 집합 B의 교집합 (A∩B)

{4, 5}

In [65]:
A.union(B) # 집합 A에 대한 집합 B의 합집합 (A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
A.difference(B)  # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

**[4장: 60 ~ 61페이지]**

In [68]:
A = {1, 2, 3, 4, 5}         # Set A
B = {4, 5, 6, 7, 8, 9, 10}  # Set B

A & B  # 집합 A에 대한 집합 B의 교집합(A∩B)

{4, 5}

In [69]:
A | B  # 집합 A에 대한 집합 B의 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [70]:
A - B  # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

### 리스트, 튜플, 세트 간 타입 변환
- list(변수명) 리스트 타입으로 변환
- tuple(변수명) 튜플 타입으로 변환
- set(변수명) 세트 타입으로 변환

**[4장: 61페이지]**

In [73]:
a = [1, 2, 3, 4, 5]  # 리스트 할당

In [72]:
type(a)

list

**[4장: 61페이지]**

In [76]:
b = tuple(a)  # 튜플로 변환
b

(1, 2, 3, 4, 5)

In [75]:
type(b)

tuple

**[4장: 61페이지]**

In [77]:
c = set(a)  # 세트로 변환
c

{1, 2, 3, 4, 5}

In [78]:
type(c)

set

**[4장: 62페이지]**

In [79]:
list(b)  # 리스트로 변환

[1, 2, 3, 4, 5]

In [80]:
list(c)  # 리스트를 리스트로 출력 (당연히 가능)

[1, 2, 3, 4, 5]

## 4.6 딕셔너리

### 딕셔너리 만들기

**[4장: 63페이지]**

In [83]:
country_capital = {"영국":"런던", 
                   "프랑스":"파리", 
                   "스위스": "베른", 
                   "호주":"멜버른", 
                   "덴마크": "코펜하겐"}  # 딕셔너리 생성

print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

**[4장: 63페이지]**

In [84]:
type(country_capital)  # 타입 확인

dict

**[4장: 63페이지]**

In [85]:
country_capital["영국"]  # key로 value 출력

'런던'

**[4장: 64페이지]**

In [67]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5: "자전거"}  #########################여기서부터#############
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

**[4장: 64페이지]**

In [68]:
dict_data1[3]  # 키(숫자)로 값 출력

'비행기'

**[4장: 64페이지]**

In [69]:
dict_data2 = {1:10, 2: 20, 3:30, 4: 40, 5:50}
print(dict_data2)       # 딕셔너리 생성
print(dict_data2[4])    # 키로 값 출력

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

**[4장: 64페이지]**

In [70]:
dict_data3 = {"list_data1":[11,12,13], "list_data2": [21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])  # 값에 리스트 입력

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [71]:
dict_data3["list_data2"][1]  # 딕셔너리 안 리스트를 키, 인덱스번호로 출력

22

**[4장: 64페이지]**

In [72]:
mixed_dict = {1:10, 'dict_num': {1:10, 2:20}, "dict_list_tuple": {"A":[11,12,13], "B":(21,22,23)}, "dict_string": "이것은 책입니다."}
mixed_dict

# 딕셔너리 안에 딕셔너리, 리스트가 든 딕셔너리, 일반 값 입력

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)},
 'dict_string': '이것은 책입니다.'}

In [73]:
mixed_dict['dict_string']   # 키로 값 출력

'이것은 책입니다.'

In [74]:
mixed_dict['dict_list_tuple']['A']   # 딕셔너리 안 딕셔너리의 키로 값 출력

[11, 12, 13]

In [75]:
mixed_dict['dict_list_tuple']['A'][2]  # 딕셔너리 안 딕셔너리의 리스트를 인덱스번호로 출력

13

### 딕셔너리 다루기

#### 딕셔너리에 데이터 추가하고 변경하기

**[4장: 65페이지]**

In [76]:
country_capital["독일"]= "베를린"  # 딕셔너리의 요소 변경, 해당 키가 없을 경우 키:값 추가
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

**[4장: 65페이지]**

In [77]:
country_capital["호주"]= "캔버라"  # 딕셔너리의 요소 변경
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

#### 딕셔너리에서 데이터 삭제하기

**[4장: 66페이지]**

In [78]:
del country_capital["덴마크"]  # 딕셔너리의 키를 지정해 키:값 삭제
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

#### 딕셔너리 메서드 활용하기
- 딕셔너리명.keys() 딕셔너리의 키를 리스트로 출력
- 딕셔너리명.values() 딕셔너리의 값을 리스트로 출력
- 딕셔너리명.items() 딕셔너리의 키와 값이 튜플로 담긴 리스트로 출력
- 딕셔너리명.update(딕셔너리명) 딕셔너리에 새로운 딕셔너리를 추가
- 딕셔너리명.clear() 딕셔너리의 모든 키,값 삭제

**[4장: 66페이지]**

In [79]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}   # 딕셔너리 생성

**[4장: 66페이지]**

In [80]:
fruit_code.keys()  # 딕셔너리의 키를 리스트로 출력

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

**[4장: 66페이지]**

In [81]:
fruit_code.values()  # 딕셔너리의 값을 리스트로 출력

dict_values([101, 102, 103, 104, 105])

**[4장: 67페이지]**

In [82]:
fruit_code.items()  # 딕셔너리의 키와 값이 튜플로 담긴 리스트로 출력

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

**[4장: 67페이지]**

In [83]:
list(fruit_code.keys())   # 리스트로 출력

['사과', '배', '딸기', '포도', '바나나']

In [84]:
tuple(fruit_code.keys())  # 튜플로 출력

('사과', '배', '딸기', '포도', '바나나')

In [85]:
set(fruit_code.keys())   # 세트로 출력

{'딸기', '바나나', '배', '사과', '포도'}

In [86]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [87]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

**[4장: 67페이지]**

In [88]:
fruit_code2 = {"오렌지":106, "수박":107}

**[4장: 67페이지]**

In [89]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

**[4장: 68페이지]**

In [90]:
fruit_code2.clear()
print(fruit_code2)

{}

In [91]:
type(fruit_code2)

dict

# 4.7 정리